/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .logo {
    font-size: 30px;
    line-height: 45px;
    padding-bottom: 20px;
  }
  .galeri-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  #youtube-audio {
    right: 50px;
  }
  .slideshow-container {
    height: 500px;
  }
}

@media screen and (min-width: 1280px) {
  h2 {
    font-size: 25px;
    margin: 30px 0;
  }
  .galeri-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding-bottom: 20px;
  }
  .galeri-section {
    padding: 0 0 20px 0;
  }
  .galeri-img {
    width: 500px;
    height: 500px;
  }
  .galeri-img:last-child {
    object-fit: contain;
  }
  .slideshow-container {
    height: 700px;
  }
}
