/* ---COMMON--- */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  font-size: 10px;
  --color1: #00afff;
  --color2: #daf0fb;
  --color3: #54b1dc;
  --hover: #00afff;
  --navHover: rgba(91, 142, 91, 0.5);
}
html {
  scroll-behavior: smooth;
}
body {
  @include flex-col-center;
  width: 100vw;
  font-family: "EB Garamond", serif;
  margin: 0;
  user-select: none;
  overflow-x: hidden;
}
/*-------------------- MAIN -------------------- */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
// ###### HEADER ######
header {
  @include flex-col-center;
  width: 100%;
  height: 150px;
  background-color: var(--color2);
  text-align: center;
  font-weight: bold;
  position: relative;
}
.logo {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  transition: color 0.5s;
}
.logo:visited {
  color: black;
}
.logo:hover {
  color: var(--hover);
}
// ###### NAV ######
nav {
  width: 100%;
  height: 50px;
  background-color: var(--color3);
  position: relative;
  @include flex-col-center;
}
nav ul {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav li {
  list-style: none;
  height: 100%;
  @include flex-col-center;
  padding: 0 25px;
}
nav li:hover {
  cursor: pointer;
  background-color: var(--navHover);
}
nav a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
#youtube-audio {
  padding: 4px 8px;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  right: 5px;
}
#youtube-audio:hover {
  background-color: var(--navHover);
  cursor: pointer;
}
// ###### GALERI ######
.galeri-section {
  @include flex-col-center;
  width: 100%;
  padding: 0 0 20px 0;
}
.galeri-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.galeri-img {
  width: 320px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgb(189, 188, 188);
  transition: transform 0.5s;
}
.galeri-img:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0px 0px 5px 1px var(--hover);
}
.slideshow-container {
  @include flex-col-center;
  width: 90%;
  height: 300px;
  max-width: 1000px;
  border-radius: 20px;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 2%;
  background-color: rgb(39, 38, 38);
}
.slideshow-img {
  transition: opacity 1s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.afis-section {
  @include flex-col-center;
  padding: 20px;
}
.afis {
  width: 600px;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px black;
}
//GALERI PAGE
h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  line-height: 20px;
  letter-spacing: 1px;
  margin: 20px 0;
  text-transform: uppercase;
}
.hidden-field {
  display: none;
  width: 100%;
  height: 100%;
}
.visible-field {
  @include flex-col-center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
.bg-field {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.bg-field:hover {
  cursor: pointer;
}
.img-div {
  height: 90%;
  position: relative;
}
.img-field {
  @include flex-col-center;
  height: 100%;
}
.preview-img {
  height: 100%;
  object-fit: cover;
}
.arrow {
  color: white;
  position: absolute;
  z-index: 50;
  font-size: 50px;
  color: rgb(226, 223, 223);
}
.arrow:hover {
  color: white;
  cursor: pointer;
}
.arrow-left {
  left: 20px;
}
.arrow-right {
  right: 20px;
}
// ###### ADRES ######
.adres-section {
  @include flex-col-center;
  text-align: center;
  font-size: 20px;
}
.adres-div {
  width: 100%;
  background-color: white;
  padding-bottom: 20px;
}
.adres-div h2 {
  margin-top: 0;
}
.harita {
  width: 80%;
  max-width: 700px;
  height: 170px;
  margin-top: 20px;
  border-radius: 10px;
}
.harita:hover {
  box-shadow: 0px 0px 3px 0px var(--hover);
}
/*-------------------- FOOTER --------------------*/
footer {
  @include flex-col-center;
  gap: 20px;
  background: linear-gradient(to bottom, var(--color2), var(--color3));
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 12px;
}
.footer-text {
  font-size: 1.5rem;
}
footer a {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  font-style: italic;
}
footer a:visited {
  color: black;
}
footer a:hover {
  color: red;
  cursor: pointer;
  font-weight: bold;
}
/* KEYFRAMES */

@import "media";
