/* ---COMMON--- */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 10px;
  --color1: #00afff;
  --color2: #daf0fb;
  --color3: #54b1dc;
  --hover: #00afff;
  --navHover: rgba(91, 142, 91, 0.5);
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: "EB Garamond", serif;
  margin: 0;
  user-select: none;
  overflow-x: hidden;
}

/*-------------------- MAIN -------------------- */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: var(--color2);
  text-align: center;
  font-weight: bold;
  position: relative;
}

.logo {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  transition: color 0.5s;
}

.logo:visited {
  color: black;
}

.logo:hover {
  color: var(--hover);
}

nav {
  width: 100%;
  height: 50px;
  background-color: var(--color3);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}

nav li:hover {
  cursor: pointer;
  background-color: var(--navHover);
}

nav a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.galeri-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 0 20px 0;
}

.galeri-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 20px;
  gap: 20px;
}

.music-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.music-text {
  font-size: 15px;
}

#youtube-audio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: var(--color3);
  width: 30px;
  height: 30px;
}

#youtube-audio:hover {
  background-color: red;
  cursor: pointer;
}

.slideshow-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 300px;
  max-width: 1000px;
  border-radius: 20px;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 2%;
  background-color: rgb(39, 38, 38);
}

.slideshow-img {
  transition: opacity 1s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.afis-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.afis {
  width: 50%;
  min-width: 320px;
  max-width: 700px;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px black;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  line-height: 20px;
  letter-spacing: 1px;
  margin: 20px 0;
  text-transform: uppercase;
}

.hidden-field {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}

.visible-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.bg-field {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.bg-field:hover {
  cursor: pointer;
}

.exit {
  position: absolute;
  right: 5px;
  top: 5px;
  color: white;
  font-size: 50px;
  cursor: pointer;
}

.exit:hover {
  color: red;
}

.img-div {
  height: 90%;
  position: relative;
}

.img-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.preview-img {
  width: 95%;
  height: 95%;
  object-fit: contain;
  position: relative;
  z-index: 50;
}

.galeri-img {
  width: 320px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgb(189, 188, 188);
  transition: transform 0.5s;
}

.galeri-img:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0px 0px 5px 1px var(--hover);
}

.arrow {
  color: white;
  position: absolute;
  z-index: 50;
  font-size: 50px;
  color: rgb(226, 223, 223);
}

.arrow:hover {
  color: white;
  cursor: pointer;
}

.arrow-left {
  left: 20px;
}

.arrow-right {
  right: 20px;
}

.adres-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.adres-div {
  width: 100%;
  background-color: white;
  padding-bottom: 20px;
}

.adres-div h2 {
  margin-top: 0;
}

.harita {
  width: 80%;
  max-width: 700px;
  height: 170px;
  margin-top: 20px;
  border-radius: 10px;
}

.harita:hover {
  box-shadow: 0px 0px 3px 0px var(--hover);
}

/*-------------------- FOOTER --------------------*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: linear-gradient(to bottom, var(--color2), var(--color3));
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 12px;
}

.footer-text {
  font-size: 1.5rem;
}

footer a {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  font-style: italic;
}

footer a:visited {
  color: black;
}

footer a:hover {
  color: red;
  cursor: pointer;
  font-weight: bold;
}

/* KEYFRAMES */
/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .logo {
    font-size: 30px;
    line-height: 45px;
    padding-bottom: 20px;
  }
  .galeri-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  #youtube-audio {
    right: 50px;
  }
  .slideshow-container {
    height: 500px;
  }
}
@media screen and (min-width: 1280px) {
  h2 {
    font-size: 25px;
    margin: 30px 0;
  }
  .galeri-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding-bottom: 20px;
  }
  .galeri-section {
    padding: 0 0 20px 0;
  }
  .galeri-img {
    width: 500px;
    height: 500px;
  }
  .galeri-img:last-child {
    object-fit: contain;
  }
  .slideshow-container {
    height: 700px;
  }
}

/*# sourceMappingURL=style.css.map */
